@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700;800&family=Overpass:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
#root {
  background-color: red;
  background-image: url("./img/background_color.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.App {
  margin: 0 auto;
  max-width: 1000px;

  &__header {
    width: 100%;
    height: 70px;
    background-color: #000000dd;
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: "Mukta", sans-serif;
    font-family: "Overpass", sans-serif;
    font-weight: 800;
    line-height: 70px;
    border-radius: 0 0 10px 10px;
  }

  &__options {
    &-handler {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 40px;
      border-radius: 10px;
      background-color: #808080dd;
      cursor: pointer;

      &__name {
        position: relative;
        top: 2px;
        font-size: 24px;
        font-family: "Mukta", sans-serif;
        font-family: "Overpass", sans-serif;
        font-weight: 200;
      }
      &__img {
        width: 60px;
        height: 40px;
      }
    }
  }
}

.options {
  background-color: #ffc36a3a;
  display: flex;
  border-radius: 7px;
  padding-bottom: 5px;

  &__addparty {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    &-title {
      font-size: 20px;
      text-align: center;
      padding: 10px;
      font-family: "MuseoModerno", cursive;
      font-weight: 400;
    }
    &-label {
      background-color: #ad7a2e3a;
      border-radius: 7px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 50px;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      padding: 10px;
      margin: 0 5px;
      justify-content: center;
      align-items: center;
      &__name {
        height: 20px;
        border-radius: 7px;
        padding-left: 5px;
      }
      &__threshold {
        padding: 10px;
        width: 100px;
        display: flex;
        font-size: 12px;
        &:hover {
          cursor: pointer;
        }
        input {
          cursor: pointer;
        }
      }
      &__color {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 5px;
        p {
          font-size: 12px;

          height: 12px;
        }
        input {
          width: 40px;
          height: 40px;
          padding: 0;
          appearance: none;
          border: none;
          outline: none;
          background: transparent;
          // border-radius: 50%; /* Dodaj zaokrąglenie */
          &:hover {
            cursor: pointer;
          }
          &::-webkit-color-swatch-wrapper {
            border: none; /* Usuń obramowanie przycisku koloru dla przeglądarek Webkit (np. Chrome) */
          }
          &::-webkit-color-swatch {
            border: 2px solid rgb(112, 112, 112); /* Usuń obramowanie przycisku koloru dla przeglądarek Webkit (np. Chrome) */
            border-radius: 7px; /* Dodaj zaokrąglenie przyciskowi koloru dla przeglądarek Webkit */
          }
        }
      }
      button {
        border-radius: 7px;
        font-size: 15px;
        width: 70px;
        height: 30px;
        cursor: pointer;
        background-color: #81b84d;
        color: white;
        text-shadow: 1px 1px 1px black;
        font-family: "MuseoModerno", cursive;
        font-weight: 500;
      }
    }
    &-predefined {
      margin: 0 5px;
      padding: 5px;
      border-radius: 7px;
      background-color: rgba(182, 181, 179, 0.507);
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        height: 40px;
        font-size: 10px;
        padding: 5px;
        margin-left: 20px;
        cursor: pointer;
        border-radius: 7px;
        font-family: "MuseoModerno", cursive;
        font-weight: 500;
        p {
          text-shadow: 1px 1px 1px white;
        }
        &.electionPoland {
          background: linear-gradient(
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 25, 0, 1) 50%
          );
        }
        &.electionGermany {
          background: linear-gradient(
            rgb(0, 0, 0) 33.3%,
            rgba(255, 25, 0, 1) 33.3%,
            rgba(255, 25, 0, 1) 66.6%,
            rgb(255, 255, 0) 66.6%
          );
          p:first-child {
            color: white;
            text-shadow: 1px 1px 1px black;
          }
        }
      }
    }
  }

  &__list {
    background-color: rgba(156, 98, 161, 0.171);
    margin: 0 5px;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-ul {
      width: 100%;
      &-element {
        min-height: 34px;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        gap: 10px;
        justify-content: center;
        align-items: center;
        &.legend {
          background-color: #ca7a7aaf;
          border-radius: 7px;
          height: 26px;
          div {
            margin: 0 auto;
          }
        }
        div {
          padding: 2px 5px;
        }
        &__threshold {
          text-align: center;
        }

        &__color {
          margin: 0 auto;
          width: 15px;
          height: 15px;
          border-radius: 7px;
          // border: 2px solid rgba(73, 70, 70, 0.411);
          box-shadow: 0px 0px 1px 2px rgb(88, 88, 88);
        }
        &__delete {
          text-align: center;
        }
      }
    }
  }
}
